.skin-blue {
  .sidebar-footer {
    background: $blue;
    a span {
      color: $white;
    }
  }
}
.skin-black {
  .sidebar-footer {
    background: $white;
    a span {
      color: $grey;
    }
  }
}
.skin-purple {
  .sidebar-footer {
    background: $purple;
    a span {
      color: $white;
    }
  }
}
.skin-green {
  .sidebar-footer {
    background: $green;
    a span {
      color: $white;
    }
  }
}
.skin-red {
  .sidebar-footer {
    background: $red;
    a span {
      color: $white;
    }
  }
}
.skin-yellow {
  .sidebar-footer {
    background: $yellow;
    a span {
      color: $white;
    }
  }
}
.skin-blue-light {
  .sidebar-footer {
    background: $blue;
    a span {
      color: $white;
    }
  }
}
.skin-black-light {
  .sidebar-footer {
    background: $white;
    a span {
      color: $grey;
    }
  }
}
.skin-purple-light {
  .sidebar-footer {
    background: $purple;
    a span {
      color: $white;
    }
  }
}
.skin-green-light {
  .sidebar-footer {
    background: $green;
    a span {
      color: $white;
    }
  }
}
.skin-red-light {
  .sidebar-footer {
    background: $red;
    a span {
      color: $white;
    }
  }
}
.skin-yellow-light {
  .sidebar-footer {
    background: $yellow;
    a span {
      color: $white;
    }
  }
}